/*
 * Copyright (C) 2005 - 2020 TIBCO Software Inc. All rights reserved.
 * http://www.jaspersoft.com.
 *
 * Unless you have purchased a commercial license agreement from Jaspersoft,
 * the following license terms apply:
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@media screen and (min-width:0\0) { /* IE9 and above to fix bug 41632 */
    .dashboardToolbar .toolbar .list.buttonSet {
        min-width: 600px;
    }
}

.dashboardToolbar.column.decorated > .content > .header {
    background-color: #ffffff;
    border-bottom: none;
    height: 40px;
}

.dashboardToolbar .toolbar {
    background-color: #ffffff;
    border-bottom: 2px solid #f3f4fb;
    height: 40px;
    padding: 0 5px;
}

.dashboardToolbar .toolbar > .buttonSet {
    height: 32px;
    margin: 3px 0 0 0;
}

.dashboardToolbar .toolbar .buttonSet .node.separator {
    background-color: #dedede;
    height: 20px;
    margin: 6px 6px 0 6px;
    width: 1px;
}

.dashboardToolbar .toolbar .button .icon {
    background-image: url(../images/button_action_icons_sprite@1x.png);
    background-repeat: no-repeat;
    background-size: 240px;
}

/* 2x ACTION BUTTON ICONS */
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){
    .dashboardToolbar .toolbar .button .icon {
        background-image: url(../images/button_action_icons_sprite@2x.png);
    }
}

.dashboardToolbar > .content > .header > .title {
    float: left;
}

.dashboardToolbar > .content > .header > .buttons {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}

.dashboardToolbar > .content > .header > .buttons > #back {
    width: 56px;
}

.dashboardToolbar .list.buttonSet .button.capsule {
    border: none;
    border-radius: 3px;
    height: 100%;
    margin-top: 0;
    margin-right: 2px;
    margin-left: 2px;
}

/* PREVIEW and VIEWER MODE */
.dashboardDesigner .pageHeader .dashboardToolbar,
.dashboardViewer .pageHeader .dashboardToolbar {
    align-self: center;
}

.dashboardToolbar .toolbar.previewMode {
    clear: none;
    background-image: none;
    background-color: transparent;
    border: 0;
    height: 28px;
}

.dashboardToolbar .toolbar.previewMode > .buttonSet {
    margin-top: 0;
}


/* .dashboardDesigner.oneColumn .dashboardToolbar .list.buttonSet .button.capsule, DELETE IF THERE ARE NO PROBLEMS */
.dashboardViewer .dashboardToolbar .list.buttonSet .button.capsule {
    border-radius: 3px;
}

.dashboardToolbar .toolbar.previewMode .buttonSet .node.separator {
    display: none;
}

/* undesireable fix because mutton class is applied where it shouldn't be */
.dashboardViewer #undo,
.dashboardViewer #redo,
.dashboardViewer #undoAll {
    width: 32px;
}

/* back */
.dashboardViewer .toolbar #back {
    border-right: 0 solid #cdcdcd;
    border-left: 0 solid #cdcdcd;
}

.dashboardToolbar .toolbar #back .icon {
    background-image: none;
}

.dashboardViewer .toolbar #back .wrap {
    text-indent: inherit;
}

/* preview */
.dashboardToolbar .toolbar #presentation .icon {
    background-position: 5px -299px;
}
.dashboardToolbar .toolbar #presentation.over .icon,
.dashboardToolbar .toolbar #presentation.down .icon,
.dashboardToolbar .toolbar #presentation.pressed .icon {
    background-position: -25px -299px;
}

/* save */
.dashboardToolbar .toolbar #save .icon {
    background-position: 3px -359px;
}
.dashboardToolbar .toolbar #save.over .icon,
.dashboardToolbar .toolbar #save.pressed .icon {
    background-position: -27px -359px;
}

/* export */
.dashboardToolbar .toolbar #export .icon {
    background-position: 4px -390px;
}
.dashboardToolbar .toolbar #export.over .icon,
.dashboardToolbar .toolbar #export.pressed .icon {
    background-position: -26px -390px;
}

/* embed */
.dashboardToolbar .toolbar #embed .icon {
    background-position: -54px -449px;
}
.dashboardToolbar .toolbar #embed.over .icon,
.dashboardToolbar .toolbar #embed.pressed .icon {
    background-position: -84px -449px;
}

/* schedule */
.dashboardToolbar .toolbar #schedule .icon {
    background-position: -114px -59px;
}
.dashboardToolbar .toolbar #schedule.over .icon,
.dashboardToolbar .toolbar #schedule.pressed .icon {
    background-position: -144px -59px;
}

/* undo */
.dashboardToolbar .toolbar #undo .icon {
    background-position: 5px -450px;
}
.dashboardToolbar .toolbar #undo.over .icon,
.dashboardToolbar .toolbar #undo.pressed .icon {
    background-position: -25px -450px;
}

/* redo */
.dashboardToolbar .toolbar #redo .icon {
    background-position: 5px -480px;
}
.dashboardToolbar .toolbar #redo.over .icon,
.dashboardToolbar .toolbar #redo.pressed .icon {
    background-position: -25px -480px;
}

/* undo all */
.dashboardToolbar .toolbar #undoAll .icon {
    background-position: 5px -510px;
}
.dashboardToolbar .toolbar #undoAll.over .icon,
.dashboardToolbar .toolbar #undoAll.pressed .icon {
    background-position: -25px -510px;
}

/* filter manager */
.dashboardToolbar .toolbar #filterManager .icon {
    background-position: -55px -209px;
}
.dashboardToolbar .toolbar #filterManager.over .icon,
.dashboardToolbar .toolbar #filterManager.pressed .icon {
    background-position: -85px -209px
}

/* properties */
.dashboardToolbar .toolbar #properties .icon {
    background-position: -55px -89px;
}
.dashboardToolbar .toolbar #properties.over .icon,
.dashboardToolbar .toolbar #properties.down .icon,
.dashboardToolbar .toolbar #properties.pressed .icon {
    background-position: -85px -89px;
}

/* grid */
.dashboardToolbar .toolbar #grid .icon {
    background-position: -54px -359px;
}
.dashboardToolbar .toolbar #grid.over .icon,
.dashboardToolbar .toolbar #grid.down .icon,
.dashboardToolbar .toolbar #grid.pressed .icon {
    background-position: -84px -359px;
}

/* filterPopup */
.dashboardToolbar .toolbar #filterPopup .icon {
    background-position: -54px -479px;
}
.dashboardToolbar .toolbar #filterPopup.over .icon,
.dashboardToolbar .toolbar #filterPopup.down .icon,
.dashboardToolbar .toolbar #filterPopup.pressed .icon {
    background-position: -84px -479px;
}

/* buttons with drop menus have no background color change when pressed */
.dashboardToolbar #save.pressed,
.dashboardToolbar #export.pressed {
    background-color: #055dab;  /* tci dark blue */
}


.dashboardToolbar .toolbar .button .wrap {
    text-indent: -5000px;
}
