/*
 * Copyright (C) 2005 - 2020 TIBCO Software Inc. All rights reserved.
 * http://www.jaspersoft.com.
 *
 * Unless you have purchased a commercial license agreement from Jaspersoft,
 * the following license terms apply:
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

.dashboardViewer .dashboardContainer {
    top: 40px;
}

.dashboardViewer .dashboardContainer > .content > .body {
    top: 0;
}

.dashboardViewer .hyperlink {
    cursor: pointer;
}

.dashboardContainer > .nothingToDisplay {
    background: transparent;
    border: medium none;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 400px;
    z-index: 1;
}

.dashboardContainer > .nothingToDisplay.hidden {
    display: none;
}

.dashboardContainer > .nothingToDisplay .body > * {
    background: #fff;
}

.dashboardContainer > .nothingToDisplay .message {
    background-color: #f7f7f7;
    color: #666;
    font-family: source_sans_proregular, Franklin Gothic, Verdana, Arial, sans-serif;
    margin: 10px 0;
    padding: 22px;
    text-align: center;
}

.dashboardContainer > .nothingToDisplay .message > .icon {
    display: block;
}

.dashboardContainer > .nothingToDisplay .message > .text {
    display: block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}